<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="datagridview.Properties.Settings.db1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\datagridview\db1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>